.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper-rating {
  font-size: 3em;
  line-height: 0;
  margin: 0;
  --coulFillHover: #FD0;            /* couleur de fond au survol */
  --coulFillSelected: #FFC;         /* couleur de fond selected */
  --coulStrokeHover: #F00;          /* couleur de bord au survol */
  --coulStrokeSelected: #FA0;       /* couleur de bord selected */
}
.wrapper-rating label {
  cursor: pointer;
  border-bottom: 2px solid currentColor;
}
.wrapper-rating input {
  position: absolute;
  opacity: 0;
}
.wrapper-rating input:checked ~ * label {
  --coulFillSelected: #FAFAFA;      /* couleur de fond par défaut */
  --coulStrokeSelected: #CCC;       /* couleur de bord par défaut */
  border-bottom: 2px solid transparent;
}
.wrapper-rating .star {
  display: inline-flex;
  color: var(--coulStrokeSelected);
  cursor: pointer;
}
.wrapper-rating .star svg {
  width: 1em;
  height: 1em;
  transition: .25s;
  stroke-width: 1;
  stroke: var(--coulStrokeSelected);
  fill: var(--coulFillSelected);
}
.wrapper-rating .star:hover > label svg {
  fill: var(--coulFillHover);
  stroke: var(--coulStrokeHover);
}